@import url("https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css");

#App {
  height: 100%;
  text-align: center;
}

.App-logo {
  height: 120px;
}

.buttons {
  position: absolute; right: 10px; top: 10px; 
}

.button {
  width: 110px; height: 50px; font-size: 25px;
  margin: 10px 0 10px 10px; text-align: center;
  font-weight: bold; border: 2px solid gray;
}

.button:hover {
  background: #F4E425; color: white
}

.App-header {
  background-color: #F4E425;
  width: 100%;
  height: 340px;
  padding: 20px;
  color: white;
  top: 0; right: 0;
}

.App-title a {
  font-size: 50px; font-weight: bold; color: #3161BB;
  text-decoration: none;
}

.App-intro {
  font-size: 20px; margin-top: 20px;
  font-weight: bold;
}

.empty-div {
  height: 100px;
}

.App-body {
  width: 100%;
}

.App-footer {
  width: 100%; height: 220px; background: #3161BB;
  position: absolute;
}

.App-footer-text {
  color: #F4E425; font-size: 25px; margin-top: 20px;
  font-weight: bold; padding-top: 20px;
}